<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PhilippineStockExchange</display-name>
<servlet>
	<servlet-name>Add View Hero</servlet-name>
	<servlet-class>com.vainglory.web.AddViewHero</servlet-class>
</servlet>

<servlet>
	<servlet-name>Add View Game History</servlet-name>
	<servlet-class>com.vainglory.web.AddViewGameHistory</servlet-class>
</servlet>

<servlet>
	<servlet-name>Add View Adagio Game History</servlet-name>
	<servlet-class>com.vainglory.web.AddViewAdagioGameHistory</servlet-class>
</servlet>

<servlet>
	<servlet-name>Add View Catherine Game History</servlet-name>
	<servlet-class>com.vainglory.web.AddViewCatherineGameHistory</servlet-class>
</servlet>

<servlet>
	<servlet-name>Add View Lance Game History</servlet-name>
	<servlet-class>com.vainglory.web.AddViewLanceGameHistory</servlet-class>
</servlet>

<servlet>
	<servlet-name>Add View Lyra Game History</servlet-name>
	<servlet-class>com.vainglory.web.AddViewLyraGameHistory</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Add View Hero</servlet-name>
	<url-pattern>/AddViewHero.do</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>Add View Game History</servlet-name>
	<url-pattern>/AddViewGameHistory.do</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>Add View Adagio Game History</servlet-name>
	<url-pattern>/AddViewAdagioGameHistory.do</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>Add View Catherine Game History</servlet-name>
	<url-pattern>/AddViewCatherineGameHistory.do</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>Add View Lance Game History</servlet-name>
	<url-pattern>/AddViewLanceGameHistory.do</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>Add View Lyra Game History</servlet-name>
	<url-pattern>/AddViewLyraGameHistory.do</url-pattern>
</servlet-mapping>

<resource-ref>
  <res-ref-name>jdbc/UCPPool7</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
  <res-auth>Container</res-auth>
</resource-ref>
 
<welcome-file-list>
	<welcome-file>VainGloryHome.jsp</welcome-file>
</welcome-file-list>

</web-app>